html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header, footer {
    background-color: #b42325;
    flex-shrink: 0;
}

header {
    height: 80px;
}

#header-contents, #footer-contents {
    margin-left: 30px;
    margin-right: 30px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    background-image: url("images/pencils.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#etch-a-sketch {
    background-color: #b42325;
    width: 450px;
    margin: 80px auto 80px;
    padding: 30px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#etch-a-sketch h1 {
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
    color: gold;
    font-size: 0.8rem;
}

#etch-a-sketch h1 span {
    font-style: italic;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 36px;
}

#container {
    display: grid;
    width: 400px;
    height: 400px;
    margin: 20px auto 40px;
}

.canvas-grid-box {
    height: auto;
    width: auto;
    border: 0.5px solid grey;
    background-color: white;
}

.canvas-grid-box:hover {
    background-color: black;
}

.black {
    background-color: black;
}


#controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
}

#reset-button, #rainbow-button {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    border: 3px dashed grey;
    background-color: white;
}

#size-select {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: gold;
}

footer {
    height: 50px;
}

@media screen and (max-width: 550px) {
    #etch-a-sketch {
        width: 80vw;
    }
    #container {
        width: 300px;
        height: 300px;
    }
    #controls {
        width: 70vw;
    }
}